* {
    text-align: center;
    background: #f5f3f4;
}

.header {
    color: #2f2338;
}

.review-items {
    text-align: center;
    list-style-type: none;
    color: #2f2338;
    background: #d24a77;
    padding: 5px;
}
